*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "PP Formula Condensed";
    /* background-color: #fff; */
}
.page1{
    width: 100%;
    height: 100vh;
    /* background-color: skyblue; */
    
}
#page1-text{
    width: 100%;
    height: 60%;
    /* background-color: rebeccapurple; */
    display: flex;
    text-align: center;
    margin-top: 10vw;
}
.page1 p{
    /* display: none; */
    width: 25%;
    font-size: 1vw;
    font-weight: 500;
    line-height: 1vw;
    margin-top: 6vw;
    margin-left: 2vw;
}
.page1 h1{
    /* display: none; */
    width: 65%;
    font-size: 7vw;
    line-height: 6.5vw;
    font-weight: 450;
    /* display: inline-block; */
    font-family: "PP Formula Condensed";
}
.page1 h5{
    width: 10%;
    /* display: none; */
    font-size:1vw;
    font-weight: 200;
    text-transform: uppercase;
    color:rgba(128, 128, 128, 0.891);
    margin-top: 9vw;
    margin-left: 11vw;
}

#page1-bottom{
    width: 100%;
    height: 87%;
     display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden; 
     position: relative;
    /* background-color: yellow; */
    margin-top: -6vw;

}
#page1-bottom::-webkit-scrollbar{
    display: none;
} 
#box{
    width: 32%;
    height: 86%;
    flex-shrink: 0;
    margin-right: 8px;
    display: inline-block;
    margin-left: 1vw;
    position: relative;
   animation-name: anime;
   animation-duration: 9s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

}
.elem{
  
    height: 100%;
    width: 100%;
    /* background: #000; */
}
#box .elem h4{
    color: #fff;
    font-size: 1.5vw;
    font-weight: 500;
    position: absolute;
    text-transform: uppercase;
    margin-top: 1.3vw;
    margin-left: 1vw;
}
#box .elem h3{
    color: #fff;
    font-size: 1vw;
    font-weight: 500;
    position: absolute;
    text-transform: uppercase;
    margin-top: -3vw;
    margin-left: 1vw;
}
#box .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@keyframes anime{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(calc(-100% - 12px));
    }
}
.page2{
    height: 120vh;
    width: 100%;
    /* background-color: black; */
    margin-top: 9vw;
}
.page2 h2{
    width: 58%;
    font-size: 3.2vw;
    margin-left: 2.5vw;
    padding-top: 14vw;
    font-weight: 400;
    color: black;
}
.page3{
    height: 100%;
    width:100%;
    margin-top: 2vw;
    /* background-color: red; */

}
.page3 img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    /* overflow: visible; */
    margin-top: -31vw;
    object-position: 30% 30%;
    z-index: 1;
}
.page3 .container{
    height: 65%;
    width: 90%;
    /* padding: 4vw; */
    margin-left: 4.3vw;
    position: relative;
    z-index: 2;
    background-color:#fff;
}
.container .headline h2{
    font-size: 2vw;
    font-weight: 400;
    position: absolute;
    margin-left: 2vw;
    margin-top: 2vw;
}
.container-content{
    width: 100%;
    height: 50%;
    position: absolute;
    margin-top: 10vw;
    /* background-color: #fff; */
  
}
.search-bar{
    position: relative;
}
.search-bar h2{
    margin-left: 2vw;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}
 .search-bar input{
    width: 50%;
    height: 4vw;
    margin-left: 2vw;
    color: gray;
    background-color: rgba(128, 128, 128, 0.225);
    border: none;
}
.search-bar-text{
    height: 2.3vw;
    display: flex;
    /* background-color: blue; */
    gap: 11.7vw;
    position: absolute;
    margin-left: 2vw;
    margin-top: 2vw;
}
.search-bar-text h3{
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.search-bar-bottom{
    width: 100%;
    height: 40%;
    margin-top: -1vw;
    margin-left: 1vw;
    display: flex;
    /* background-color:rgb(53, 134, 108); */
}
.search-bar-bottom input{
    height: 4vw;
    width: 23.5%;
    margin-left: 1vw;
    margin-top: 5vw;
    color: gray;
    background-color: rgba(128, 128, 128, 0.225);
    border: none;
}
.search-bar-bottom input:nth-last-child(1){
    width: 22%;
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
}
.page4{
    width: 100%;
    height: 250vh;
    margin-top: -3.6vw;
    /* background-color: skyblue; */
}
.page4-top{
    width: 100%;
    height: 5vw;  
    display: flex;
    /* background-color: green; */
}
.page4-top .elem{
    width: 17.5%;
    background-color: #000000;
    display: flex;
    margin-left: 1px;
    align-items: center;
    justify-content: center;

}
.elem h2{
    font-size: 1.2vw;
    font-weight: 100;
    margin-right: 2vw;
    color: #fff;

}
.elem:nth-child(1){
    background-color: #fff;
    color: #000;
}
.elem #nm {
    color: #000;
}
.page4 h1{
    font-size: 3vw;
    font-weight: 400;
    width: 30%;
    padding: 5vw 0 1vw 3vw;
}
.page4-bottom{
    width: 100%;
    height:100vh;
    background-color: #000;
}
.page4-content{
    width: 22.5%;
    height:70vh;
    margin-top:2vw;
    margin-left: 1.8vw;
    /* margin-right: 2vw; */
    display: inline-block;
    position: relative;
    /* background-color: aqua;     */
}
.page4-content .elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page4-content .elem h4{
    font-size: 1.3vw;
    font-weight: 400;
    color: white;
    margin-top: 1vw;
    margin-left: 2vw;
    position: absolute;

}
.page4-content .elem h3{
    font-size: 1.3vw;
    font-weight: 400;
    color: white;
    margin-top: -3vw;
    margin-left: 2VW;
}
.page4 button{
    width: 50%;
    height: 4vw;
    margin-top: 2vw;
    margin-left: 23vw;
    color: #fff;
    border: none;
    border-radius: 0.5vw;
    background-color: rgb(0, 0, 0);
}
.page5{
    height:100vh;
    width: 100%;
    margin-top: 2vw;
    display: flex;
    /* background-color: gray; */
}
.page5-left{
    width: 34%;
    padding: 2.5vw;
    height:88%;
    /* background-color:red; */
}

.page5-left h1{
    font-size: 3vw;
    line-height: 2.8vw;
    font-weight: 400;
    
}
.page5-left p{
    width: 75%;
    font-size: 1vw;
    font-weight: 500;
    margin-top: 1vw;
}
.page5-left button{
    width: 40%;
    height: 4vw;
    background-color: black;
    color: white;
    margin-top: 2vw;
    border-radius: 0.5vw;
    border: none;

}
.page5-right{
    width: 58%;
    height: 100%;
    /* background-color: hotpink; */
}
.page5-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page6{
    height: 140vh;
    width: 100%;
    /* background-color: aquamarine; */

}
.page6 p{
    width: 45%;
    font-size: 3vw;
    line-height: 3.4vw;
    font-weight: 550;
    padding: 12vw 0 5vw 38vw;
}
.page7{
    height: 130vh;
    width: 100%;
    /* background-color: darkcyan; */
}
.page7-top{
    width: 100%;
    height: 50vh;
    /* background-color: antiquewhite; */
}
.page7-top h1{
    font-size: 6.5vw;
    font-weight: 500;
    line-height: 5.8vw;
    text-align: center;
    padding-top: 3vw;
    position: relative;
}
.page7-top button{
    width: 12%;
    height: 4vw;
    background-color: black;
    color: white;
    margin-top: -4.5vw;
    margin-left: 85vw;
    border-radius: 0.5vw;
    border: none;
    position: absolute;
}

.page7-bottom{
    width: 100%;
    height: 87%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}
.page7-bottom::-webkit-scrollbar{
    display: none;
}
.page7-content{
    width: 32%;
    height: 65%;
    flex-shrink: 0;
    margin-right: 8px;
    display: inline-block;
    margin-left: 1vw;
    position: relative;
    animation-name: anime;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* background-color: rgb(11, 11, 11); */
}
.page7-box{
    width:100%;
    height: 100%;

}
.page7-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes anime{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(calc(-100% - 12px));
    }
}
.page7-box h4{
    position: absolute;
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-left: 1.5vw;
    color: white;
}
.page7-box h3{
    font-size: 1.2vw;
    margin-top: -3vw;
    margin-left: 1.5vw;
    color: #fff;
}
.page8{
    width: 100%;
    height: 170vh;
    margin-top: 11vw;
    position: relative;
    display: flex;
    /* background-color: #000000; */
}
.page8-left{
    width: 32%;
    height: 100%;
    /* background-color: lightblue; */
}
.page8-left h1{
    font-size:6vw;
    font-weight: 560;
    line-height: 5.4vw;
    margin-top: 3vw;
    margin-left: 2vw;
}
.page8-right{
    width: 68%;
    height: 100%; 
    margin-top: 3vw;
    /* background-color: lightgreen; */
}
.page8-box{
    width: 48%;
    height: 82vh;
    margin-left: 3px;
    display: inline-block;
    position: relative;
    /* background-color: #b34d4d; */
}
.page8-box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page9{
    width: 100%;
    height: 100vh;
    /* background-color: cyan; */
    margin-top: 15vw;
    display: flex;
    position: relative;
}
.page9-top{
    width: 100%;
    height: 6vw;
    /* background-color: #f5efef; */
}
.page9 h1{
    font-size: 5.5vw;
    font-weight: 400;
    margin-left: 2.5vw;

}
.page9-center{
    width:100%;
    height:100%;
    margin-top: 7vw;
    position: absolute;
    display: flex;
    gap: 1vw;
    /* background-color: aquamarine; */
}
.page9-right {
    width: 47%;
    height: 90%;
    /* background-color: firebrick; */
  
}
.page9-right h2{
    font-size: 2vw;
    font-weight: 300;
}
.page9-right img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.page9-left {
    width: 47%;
    height: 90%;
    /* background-color: rgb(75, 149, 138); */
    margin-left: 2.5vw;
}
.page9-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 30%;
}
.page9-left h2{
    font-size: 2vw;
    font-weight: 300;
}